body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

header {
    background: #0a192f;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 25px;
}

.logo img {
    height: 40px;   /* controla el tamaño */
    width: auto;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #64ffda;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #0a192f, #112240);
    color: white;
    animation: fadeIn 1.5s ease-in;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #64ffda;
    color: #0a192f;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.page {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 12px;
    background: #0a192f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #112240;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0a192f;
    color: white;
    margin-top: 40px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
